/* html{ */
    /* padding: 0px; */
    /* margin: 5px; */
/* } */
body{
    background-color: #999999
}

h1{
	text-align:center;
}

#mainmenu{
    width: 900px;
    padding-bottom: 100px; 
    padding-left: 600px;
    font-family: sans-serif;
    
}
#mainmenu li{
    display:block;
    width: 150px;
    float:right;
    margin-left: 2px;
    border:2px solid #999999;
}
#mainmenu a{
    display: block;
    padding: 3px;
    text-align: center;
    text-decoration: none;
    background-color: #31415a;
    color: aliceblue;
}
#head{
    font-size: 50px;
    font-family: 'Dancing Script', cursive;
    line-height: 40px;
    color: #480032;
    text-align:center;
}
#para{
    font-size: 18px;
    font-family: 'Work Sans', sans-serif;
    text-align: center;
}
#heading{
    background-color:#333333;
    color: aliceblue;
    padding: 5px 5px 5px 5px;
}
#img1{
    float: left;
    padding: 5px 5px 5px 5px;
    margin-left: 50px;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
}
#img2{
    float: right;
    padding: 5px 5px 5px 5px;
    margin-left: 50px;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
}
#imga{
    float: left;
    margin-left: 15px;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
}
#imgb{
    float: right;
    margin-left: 15px;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
}
#social{
    text-decoration: none;
    text-align:center;
}
#q{
    font-size: 50px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #31415a;
}

#fab{
	text-align:center;
}
